body
{
background-color: lightgrey;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(14, 6, 53);
}
table, tr
{
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
    border-radius: 8px;
}
td
{
    padding: 1px;
    background-color: black;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 4px;
    color: white;
}
input
{
    background-color: rgb(74, 79, 70);
    color:white;
    width: 90%;
    height: 90%;
    border: none;
    text-align: center;
    margin: 0 auto;
}
.letter
{
    background-color: rgb(74, 79, 70);
}